
body{
    margin: 0;
    overflow: hidden;
}

.frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.form{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    h1{
        color: #EDB72C;
        margin-left: 12%;
        margin-bottom: 0.2%;
        font-family: monospace;
        font-weight: 200;
        
    }


    .formField{
        margin-top: 1%;
        margin-left: 12%;


        input{
            width: 22vw;
            height: 6vh;
            border: solid 3px #EDB72C;
            border-radius: 4px;
            background: none;
            color: #EDB72C;
            padding: 0 1% 0 1%;
            font-size: 18px;
            font-family: monospace;
            transition: 0.3s;

            &:focus{
                outline: solid 3.5px #EDB72C;
                border-radius: 0;
            }
        }


    }

    .buttons{
        margin-top: 1%;
        margin-left: 12%;
        
        a{
            margin-left: 0;

            input{
                background-color: #EDB72C;
                border-radius: 3px;
                border: solid 2px #EDB72C;
                padding: 10px 18px 10px 18px;
                font-size: 18px;
                font-family: monospace;
                font-weight: 700;
                transition: 0.5s;
                margin-right: 4%;
                
                &:hover{
                    background: none;
                    border: solid 2px #EDB72C;
                    color: #EDB72C;
                    cursor: pointer;

                }

            }
        }

        button{
                background-color: #EDB72C;
                border-radius: 3px;
                border: solid 2px;
                border-color: #EDB72C;
                padding: 10px 22px 10px 22px;
                font-size: 18px;
                font-family: monospace;
                font-weight: 700;
                transition: 0.5s;

                &:hover{
                    background: none;
                    border: solid 2px #EDB72C;
                    color: #EDB72C;
                    cursor: pointer;

                }
        }
    }
}

