body{
    margin: 0;
    overflow: hidden;
    background-image: url("/resources/valoFrame.svg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}


form{
    margin-top: 2%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
   
    h1{
        color: #A92230;
        margin-right: 14.5%;
        margin-bottom: -0.5%;
        font-family: monospace;
        font-weight: 200;
        
    }


    .formField{
        margin-top: 1%;
        margin-right: 12%;


        input{
            width: 22vw;
            height: 6vh;
            border: solid 3px #A92230;
            border-radius: 4px;
            background: none;
            color: #A92230;
            padding: 0 2% 0 2%;
            font-size: 18px;
            font-family: monospace;
            transition: 0.3s;

            &:focus{
                outline: solid 3.5px #A92230;
                border-radius: 0;
            }
        }


    }

    .buttons{
        margin-top: 1%;
        margin-right: 12%;
        
        
        a{
            margin-left: -10%;
            margin-right: 10%;

            input{
                background-color: #A92230;
                border-radius: 3px;
                border: solid 2px #A92230;
                padding: 10px 18px 10px 18px;
                font-size: 18px;
                font-family: monospace;
                font-weight: 700;
                transition: 0.5s;
                
                &:hover{
                    background: none;
                    border: solid 2px #A92230;
                    color: #A92230;
                    cursor: pointer;

                }

            }
        }

        button{
                background-color: #A92230;
                border-radius: 3px;
                border: solid 2px;
                border-color: #A92230;
                padding: 10px 22px 10px 22px;
                font-size: 18px;
                font-family: monospace;
                font-weight: 700;
                transition: 0.5s;

                &:hover{
                    background: none;
                    border: solid 2px #A92230;
                    color: #A92230;
                    cursor: pointer;

                }
        }
    }
}